.sect-carosello-offerte {
  height: 100vh;
  max-width: 85vw;
  margin-top: 6em;
  margin: 6em auto 0 auto;

  header {
    text-align: center;

    .trattino {
      margin: 0 auto;
      margin-bottom: 3em;
    }

    h1 {
      font-size: 3rem;
    }
  }

  .carosello {
    margin-top: 2.5em;
  }

  .carosello-elemento {
    // Per posizionare la carta al centro
    // dell'elemento, sennò è tutta sbilenca
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
  }

  .offerta-card {
    width: 70%;
    max-width: 500px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    min-height: 500px;
    height: fit-content;
    background-color: $gray-bg;
    transition: transform 0.2s ease-out;
    h2 {
      font-weight: 500;
      font-size: 1.5rem;
    }
    .content {
      padding: 1.0625em 27px;
      display: flex;
      flex-direction: column;
      gap: 1.0625em;
      p {
        line-height: 25px;
      }
    }
  }

  .offerta-card:hover {
    transform: translateY(-20px);
  }
}

// Customizzo Carosello
.react-multi-carousel-track {
  list-style: none;
  height: fit-content;
  padding: 0;
  margin: 0;
  display: flex;
  padding: 2em 0;
  margin-bottom: 2em;
  flex-direction: row;
  position: relative;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  will-change: transform, transition;
}

.custom-dot {
  width: 10px;
  height: 10px;
  background-color: #dddddd;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  //   margin-right: 2em;

  &.active {
    background-color: $red-faxtornet;
  }
}
