.sect-carosello-offerte {
  height: 100vh;
  margin-top: 6em;

  header {
    text-align: center;

    .trattino {
      margin: 0 auto;
      margin-bottom: 3em;
    }

    h1 {
      font-size: 3em;
    }
  }

  //   .carosello-component {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     margin: 0 auto;
  //   }

  .carosello-elemento {
    // padding: 6em;
    margin: 0 3em;
    display: grid;
    place-content: center;
    max-width: 500px;
  }

  img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
  }

  .offerta-card {
    // width: max(300px, 100%);
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: fit-content;
    h2 {
      font-weight: 500;
      font-size: 1.5em;
    }
    .content {
      //   height: 100%;
      background-color: $gray-bg;
      border-radius: 0 0 25px 25px;
      padding: 1.0625em 27px;
      display: flex;
      flex-direction: column;
      gap: 1.0625em;
      p {
        line-height: 25px;
      }
    }
  }
}

.custom-dot {
  width: 10px;
  height: 10px;
  background-color: #dddddd;
  border: none;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  //   margin-right: 2em;

  &.active {
    background-color: $red-faxtornet;
  }
}
