.chi-siamo-sect {
  background-color: $gray-bg;
  height: 100vh;
  display: flex;
  align-items: center;

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    justify-content: space-evenly;

    .content {
      flex-basis: 26%;
      h1 {
        font-size: 3rem;
        margin-bottom: 0.3em;
      }

      p {
        font-size: 1.25rem;
      }

      .stats {
        display: flex;
        align-items: center;
        gap: 7.4375em;
        margin-top: 1.25em;
        h1 {
          font-weight: normal;
          font-size: 4rem;
          color: $red-faxtornet;
        }
        p {
          font-size: 1.125rem;
          text-align: center;
        }
      }
    }

    .qr-card {
      width: min-content;
      background-color: white;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      align-items: center;
      padding: 24px 50px;
      img {
        width: 90%;
      }
      p {
        text-align: center;
        font-size: 1.5rem;
      }
      transition: all ease-out 0.2s;
    }

    .qr-card:hover {
      transform: translateY(-20px);
    }
  }
}
