.presentazione-sect {
  width: 100%;
  height: 90vh;
  position: relative;
  video {
    min-width: 100%;
    min-height: 100%;

    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .description {
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
    width: 33%;

    display: grid;
    place-content: center;

    * {
      color: white;
    }

    h1 {
      font-size: 3rem;
      margin-bottom: 0.5em;
    }

    .bottoni {
      display: flex;
      gap: 1em;
      margin-top: 2em;

      a,
      button {
        flex-basis: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 300px;
        font-size: 1rem;
      }

      a {
        background: $red-faxtornet;

        padding: 0.5em 1em;
        text-decoration: none;
      }

      *:hover {
        cursor: pointer;
      }
    }
  }
}

.presentazione-sect::before {
  content: "";
  width: 100%;
  height: 90vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.41);
}

.trattino {
  margin-bottom: 3em;
  height: 0.5vw;
  width: 3vw;
  background-color: $red-faxtornet;
}

.whatsapp-button {
  gap: 0.5vw;
  background-color: $whatsapp-green;
  border: none;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 1rem;
}

.whatsapp-button:hover {
  cursor: pointer;
}
