.why-us {
  height: 100vh;
  margin-top: 6em;
  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 3rem;
    }

    p {
      margin-top: 1em;
      width: 30%;
      text-align: center;
    }
  }

  .card-container {
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card {
      flex-basis: 20%;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        margin-bottom: 1.5em;
        width: 35%;
      }

      h2 {
        font-size: 2rem;
      }

      p {
        margin-top: 0.5em;
        font-size: 1.5rem;
      }
    }
  }
}
