.chi-siamo {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0 10%;
  background-color: $gray-bg;
  align-items: center;
  justify-content: center;

  &__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      h1 {
        font-size: 3rem;
        margin-bottom: 0.3em;
      }

      p {
        width: 90%;
        font-size: 1.25rem;
      }

      .stats {
        display: flex;
        align-items: center;
        gap: 7.4375em;
        margin-top: 1.25em;
        h1 {
          font-weight: normal;
          font-size: 4rem;
          color: $red-faxtornet;
        }
        p {
          font-size: 1.125rem;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .chi-siamo {
    align-items: start;
    padding: 0 10%;
    padding-bottom: 3rem;
    gap: 4rem;
    &__content-wrapper {
      flex-direction: column;
      gap: 4rem;
      justify-content: start;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .chi-siamo {
    &__content-wrapper {
      gap: 12%;
    }
    img {
      width: 50%;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .chi-siamo {
    &__content-wrapper {
      gap: 12%;
    }
    img {
      width: 50%;
    }
  }
}
