.obbiettivi-sect {
  display: flex;
  padding: 0 10%;
  gap: 4rem;
  align-items: center;
  justify-content: space-around;

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1.25rem;
    }
    flex-basis: 30%;
  }
}

@media (max-width: 768px) {
  .obbiettivi-sect {
    padding: 0 10%;
    margin-top: 20%;
    flex-direction: column;
    justify-content: start;
    gap: 4rem;
    img {
      order: 1;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .obbiettivi-sect {
    img {
      width: 50%;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .obbiettivi-sect {
    gap: 12%;
    img {
      width: 50%;
    }
  }
}
