$text-color: #222226;
$red-faxtornet: #dc3c4d;
$gray-text: #989595;
$whatsapp-green: #33b045;
$gray-bg: #f7f7f7;
$pale-green: #98fb98;
$error-red: #ff9494;

// icon
$icon-confirm: #006400;
$icon-error: #d22b2b;
$star-yellow: #fbbc04;
