footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  background-color: $gray-bg;

  .items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  img {
    width: 100%;
    margin-bottom: 1.3em;
  }

  .footer-logo,
  .footer-contatta,
  .footer-navigazione {
    flex-basis: 20%;
  }

  .footer-contatta {
    .qr-container {
      display: flex;
      align-items: center;
      gap: 0.4em;
      p {
        font-weight: 500;
        font-size: 1.25em;
        text-justify: distribute;
      }
    }
    img {
      width: 50%;
    }
  }

  .social-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2em;
    .icon {
      transition: all ease-out 0.2s;
    }
    .icon:hover {
      transform: translateY(-5px);
      fill: $red-faxtornet;
    }
  }

  .footer-navigazione {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    h1 {
      font-size: 1.7em;
    }

    .link-sezioni {
      list-style: none;
      a {
        color: $red-faxtornet;
        font-size: 1.125em;
      }
      display: flex;
      flex-direction: column;
      gap: 0.625em;
    }
  }
}
