.mobile-nav {
  padding-right: 2em;
}

.mobile-nav-links {
  height: 100vh;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3em;
  background-color: $text-color;
  width: 50%;
  position: absolute;
  right: 0;

  .link {
    margin-inline: auto;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5em;

    .icon {
      fill: white;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .selected {
    text-decoration: underline;
    color: $red-faxtornet;
  }
}

.nav-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.slide-in {
  transform: translateX(0);
}
