@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./config";
@import "./footer";
@import "./navbar";
@import "./pages/home/presentazione";
@import "./pages/home/chiSiamo";
@import "./pages/home/carosello";
@import "./pages/home/whyNoi";

:root {
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $text-color;
  font-family: "Inter", sans-serif;
}

body {
  overflow-x: hidden;
}
